<% provide(:title, "About") %>
<h1>About</h1>
<p>This is the about page for the sample app.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sit, eaque, commodi rerum consectetur veritatis maiores nihil sunt minus. Ipsam, nemo earum, soluta excepturi molestias est? Dolore nostrum repellendus, consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatem adipisci accusamus iusto similique quasi et repellat illo quis sint culpa pariatur quam esse quia reprehenderit, ut fugit perferendis. Distinctio!</p>
