<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
  <h1>Sample App Help</h1>
  <p>This is the help page for the sample app.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sit, eaque, commodi rerum consectetur veritatis maiores nihil sunt minus. Ipsam, nemo earum, soluta excepturi molestias est? Dolore nostrum repellendus, consectetur?</p>
</body>
</html>
