<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
  <h1>Sample App Home</h1>
  <p>This is the home page for the sample app.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla, mollitia magni a doloremque repellat culpa cum dignissimos modi quam nisi veniam, quas dolorum impedit! Totam doloremque, eos corporis sed.</p>
</body>
</html>
