<% provide(:title, "Home") %>
<h1>Sample App Home</h1>
<p>This is the home page for the sample app.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla, mollitia magni a doloremque repellat culpa cum dignissimos modi quam nisi veniam, quas dolorum impedit! Totam doloremque, eos corporis sed.</p>
